body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: linear-gradient(rgb(92, 100, 221), rgb(50, 156, 174));
  }

  #message-container {
    width: 80%;
    max-width: 1200px;
    background-color: aqua;
    height: 100vh;
  }

  #message-container div {
    background-color: #3384a6;
    padding: 5px;
  }

  #message-container div:nth-child(2n) {
    background-color: aqua;
  }

  #send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: rgb(49, 97, 108);
    max-width: 1200px;
    width: 80%;
    display: flex;
  }

  #message-input {
    flex-grow: 1;
  }
